[submodule "SCT_WD_1_Landing_Page"]
	path = SCT_WD_1_Landing_Page
	url = https://github.com/ansh5025/SCT_WD_1.git
[submodule "SCT_WD_2_Stopwatch"]
	path = SCT_WD_2_Stopwatch
	url = https://github.com/ansh5025/SCT_WD_2.git
